.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 200px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
